/* pixel size */
.mg-0{margin: 0 !important;}
.mg-1px{margin: 1px !important;}
.mg-2px{margin: 2px !important;}
.mg-3px{margin: 3px !important;}
.mg-4px{margin: 4px !important;}
.mg-5px{margin: 5px !important;}
.mg-6px{margin: 6px !important;}
.mg-7px{margin: 7px !important;}
.mg-8px{margin: 8px !important;}
.mg-9px{margin: 9px !important;}
.mg-10px{margin: 10px !important;}
.mg-11px{margin: 11px !important;}
.mg-12px{margin: 12px !important;}
.mg-13px{margin: 13px !important;}
.mg-14px{margin: 14px !important;}
.mg-15px{margin: 15px !important;}
.mg-16px{margin: 16px !important;}
.mg-17px{margin: 17px !important;}
.mg-18px{margin: 18px !important;}
.mg-19px{margin: 19px !important;}
.mg-20px{margin: 20px !important;}
.mg-21px{margin: 21px !important;}
.mg-22px{margin: 22px !important;}
.mg-23px{margin: 23px !important;}
.mg-24px{margin: 24px !important;}
.mg-25px{margin: 25px !important;}
.mg-26px{margin: 26px !important;}
.mg-27px{margin: 27px !important;}
.mg-28px{margin: 28px !important;}
.mg-29px{margin: 29px !important;}
.mg-30px{margin: 30px !important;}
.mg-31px{margin: 31px !important;}
.mg-32px{margin: 32px !important;}
.mg-33px{margin: 33px !important;}
.mg-34px{margin: 34px !important;}
.mg-35px{margin: 35px !important;}
.mg-36px{margin: 36px !important;}
.mg-37px{margin: 37px !important;}
.mg-38px{margin: 38px !important;}
.mg-39px{margin: 39px !important;}
.mg-40px{margin: 40px !important;}
.mg-41px{margin: 41px !important;}
.mg-42px{margin: 42px !important;}
.mg-43px{margin: 43px !important;}
.mg-44px{margin: 44px !important;}
.mg-45px{margin: 45px !important;}
.mg-46px{margin: 46px !important;}
.mg-47px{margin: 47px !important;}
.mg-48px{margin: 48px !important;}
.mg-49px{margin: 49px !important;}
.mg-50px{margin: 50px !important;}

.mg-top-1px{margin-top: 1px !important;}
.mg-top-2px{margin-top: 2px !important;}
.mg-top-3px{margin-top: 3px !important;}
.mg-top-4px{margin-top: 4px !important;}
.mg-top-5px{margin-top: 5px !important;}
.mg-top-6px{margin-top: 6px !important;}
.mg-top-7px{margin-top: 7px !important;}
.mg-top-8px{margin-top: 8px !important;}
.mg-top-9px{margin-top: 9px !important;}
.mg-top-10px{margin-top: 10px !important;}
.mg-top-11px{margin-top: 11px !important;}
.mg-top-12px{margin-top: 12px !important;}
.mg-top-13px{margin-top: 13px !important;}
.mg-top-14px{margin-top: 14px !important;}
.mg-top-15px{margin-top: 15px !important;}
.mg-top-16px{margin-top: 16px !important;}
.mg-top-17px{margin-top: 17px !important;}
.mg-top-18px{margin-top: 18px !important;}
.mg-top-19px{margin-top: 19px !important;}
.mg-top-20px{margin-top: 20px !important;}
.mg-top-21px{margin-top: 21px !important;}
.mg-top-22px{margin-top: 22px !important;}
.mg-top-23px{margin-top: 23px !important;}
.mg-top-24px{margin-top: 24px !important;}
.mg-top-25px{margin-top: 25px !important;}
.mg-top-26px{margin-top: 26px !important;}
.mg-top-27px{margin-top: 27px !important;}
.mg-top-28px{margin-top: 28px !important;}
.mg-top-29px{margin-top: 29px !important;}
.mg-top-30px{margin-top: 30px !important;}
.mg-top-31px{margin-top: 31px !important;}
.mg-top-32px{margin-top: 32px !important;}
.mg-top-33px{margin-top: 33px !important;}
.mg-top-34px{margin-top: 34px !important;}
.mg-top-35px{margin-top: 35px !important;}
.mg-top-36px{margin-top: 36px !important;}
.mg-top-37px{margin-top: 37px !important;}
.mg-top-38px{margin-top: 38px !important;}
.mg-top-39px{margin-top: 39px !important;}
.mg-top-40px{margin-top: 40px !important;}
.mg-top-41px{margin-top: 41px !important;}
.mg-top-42px{margin-top: 42px !important;}
.mg-top-43px{margin-top: 43px !important;}
.mg-top-44px{margin-top: 44px !important;}
.mg-top-45px{margin-top: 45px !important;}
.mg-top-46px{margin-top: 46px !important;}
.mg-top-47px{margin-top: 47px !important;}
.mg-top-48px{margin-top: 48px !important;}
.mg-top-49px{margin-top: 49px !important;}
.mg-top-50px{margin-top: 50px !important;}

.mg-bottom-1px{margin-bottom: 1px !important;}
.mg-bottom-2px{margin-bottom: 2px !important;}
.mg-bottom-3px{margin-bottom: 3px !important;}
.mg-bottom-4px{margin-bottom: 4px !important;}
.mg-bottom-5px{margin-bottom: 5px !important;}
.mg-bottom-6px{margin-bottom: 6px !important;}
.mg-bottom-7px{margin-bottom: 7px !important;}
.mg-bottom-8px{margin-bottom: 8px !important;}
.mg-bottom-9px{margin-bottom: 9px !important;}
.mg-bottom-10px{margin-bottom: 10px !important;}
.mg-bottom-11px{margin-bottom: 11px !important;}
.mg-bottom-12px{margin-bottom: 12px !important;}
.mg-bottom-13px{margin-bottom: 13px !important;}
.mg-bottom-14px{margin-bottom: 14px !important;}
.mg-bottom-15px{margin-bottom: 15px !important;}
.mg-bottom-16px{margin-bottom: 16px !important;}
.mg-bottom-17px{margin-bottom: 17px !important;}
.mg-bottom-18px{margin-bottom: 18px !important;}
.mg-bottom-19px{margin-bottom: 19px !important;}
.mg-bottom-20px{margin-bottom: 20px !important;}
.mg-bottom-21px{margin-bottom: 21px !important;}
.mg-bottom-22px{margin-bottom: 22px !important;}
.mg-bottom-23px{margin-bottom: 23px !important;}
.mg-bottom-24px{margin-bottom: 24px !important;}
.mg-bottom-25px{margin-bottom: 25px !important;}
.mg-bottom-26px{margin-bottom: 26px !important;}
.mg-bottom-27px{margin-bottom: 27px !important;}
.mg-bottom-28px{margin-bottom: 28px !important;}
.mg-bottom-29px{margin-bottom: 29px !important;}
.mg-bottom-30px{margin-bottom: 30px !important;}
.mg-bottom-31px{margin-bottom: 31px !important;}
.mg-bottom-32px{margin-bottom: 32px !important;}
.mg-bottom-33px{margin-bottom: 33px !important;}
.mg-bottom-34px{margin-bottom: 34px !important;}
.mg-bottom-35px{margin-bottom: 35px !important;}
.mg-bottom-36px{margin-bottom: 36px !important;}
.mg-bottom-37px{margin-bottom: 37px !important;}
.mg-bottom-38px{margin-bottom: 38px !important;}
.mg-bottom-39px{margin-bottom: 39px !important;}
.mg-bottom-40px{margin-bottom: 40px !important;}
.mg-bottom-41px{margin-bottom: 41px !important;}
.mg-bottom-42px{margin-bottom: 42px !important;}
.mg-bottom-43px{margin-bottom: 43px !important;}
.mg-bottom-44px{margin-bottom: 44px !important;}
.mg-bottom-45px{margin-bottom: 45px !important;}
.mg-bottom-46px{margin-bottom: 46px !important;}
.mg-bottom-47px{margin-bottom: 47px !important;}
.mg-bottom-48px{margin-bottom: 48px !important;}
.mg-bottom-49px{margin-bottom: 49px !important;}
.mg-bottom-50px{margin-bottom: 50px !important;}

.mg-right-1px{margin-right: 1px !important;}
.mg-right-2px{margin-right: 2px !important;}
.mg-right-3px{margin-right: 3px !important;}
.mg-right-4px{margin-right: 4px !important;}
.mg-right-5px{margin-right: 5px !important;}
.mg-right-6px{margin-right: 6px !important;}
.mg-right-7px{margin-right: 7px !important;}
.mg-right-8px{margin-right: 8px !important;}
.mg-right-9px{margin-right: 9px !important;}
.mg-right-10px{margin-right: 10px !important;}
.mg-right-11px{margin-right: 11px !important;}
.mg-right-12px{margin-right: 12px !important;}
.mg-right-13px{margin-right: 13px !important;}
.mg-right-14px{margin-right: 14px !important;}
.mg-right-15px{margin-right: 15px !important;}
.mg-right-16px{margin-right: 16px !important;}
.mg-right-17px{margin-right: 17px !important;}
.mg-right-18px{margin-right: 18px !important;}
.mg-right-19px{margin-right: 19px !important;}
.mg-right-20px{margin-right: 20px !important;}
.mg-right-21px{margin-right: 21px !important;}
.mg-right-22px{margin-right: 22px !important;}
.mg-right-23px{margin-right: 23px !important;}
.mg-right-24px{margin-right: 24px !important;}
.mg-right-25px{margin-right: 25px !important;}
.mg-right-26px{margin-right: 26px !important;}
.mg-right-27px{margin-right: 27px !important;}
.mg-right-28px{margin-right: 28px !important;}
.mg-right-29px{margin-right: 29px !important;}
.mg-right-30px{margin-right: 30px !important;}
.mg-right-31px{margin-right: 31px !important;}
.mg-right-32px{margin-right: 32px !important;}
.mg-right-33px{margin-right: 33px !important;}
.mg-right-34px{margin-right: 34px !important;}
.mg-right-35px{margin-right: 35px !important;}
.mg-right-36px{margin-right: 36px !important;}
.mg-right-37px{margin-right: 37px !important;}
.mg-right-38px{margin-right: 38px !important;}
.mg-right-39px{margin-right: 39px !important;}
.mg-right-40px{margin-right: 40px !important;}
.mg-right-41px{margin-right: 41px !important;}
.mg-right-42px{margin-right: 42px !important;}
.mg-right-43px{margin-right: 43px !important;}
.mg-right-44px{margin-right: 44px !important;}
.mg-right-45px{margin-right: 45px !important;}
.mg-right-46px{margin-right: 46px !important;}
.mg-right-47px{margin-right: 47px !important;}
.mg-right-48px{margin-right: 48px !important;}
.mg-right-49px{margin-right: 49px !important;}
.mg-right-50px{margin-right: 50px !important;}

.mg-left-1px{margin-left: 1px !important;}
.mg-left-2px{margin-left: 2px !important;}
.mg-left-3px{margin-left: 3px !important;}
.mg-left-4px{margin-left: 4px !important;}
.mg-left-5px{margin-left: 5px !important;}
.mg-left-6px{margin-left: 6px !important;}
.mg-left-7px{margin-left: 7px !important;}
.mg-left-8px{margin-left: 8px !important;}
.mg-left-9px{margin-left: 9px !important;}
.mg-left-10px{margin-left: 10px !important;}
.mg-left-11px{margin-left: 11px !important;}
.mg-left-12px{margin-left: 12px !important;}
.mg-left-13px{margin-left: 13px !important;}
.mg-left-14px{margin-left: 14px !important;}
.mg-left-15px{margin-left: 15px !important;}
.mg-left-16px{margin-left: 16px !important;}
.mg-left-17px{margin-left: 17px !important;}
.mg-left-18px{margin-left: 18px !important;}
.mg-left-19px{margin-left: 19px !important;}
.mg-left-20px{margin-left: 20px !important;}
.mg-left-21px{margin-left: 21px !important;}
.mg-left-22px{margin-left: 22px !important;}
.mg-left-23px{margin-left: 23px !important;}
.mg-left-24px{margin-left: 24px !important;}
.mg-left-25px{margin-left: 25px !important;}
.mg-left-26px{margin-left: 26px !important;}
.mg-left-27px{margin-left: 27px !important;}
.mg-left-28px{margin-left: 28px !important;}
.mg-left-29px{margin-left: 29px !important;}
.mg-left-30px{margin-left: 30px !important;}
.mg-left-31px{margin-left: 31px !important;}
.mg-left-32px{margin-left: 32px !important;}
.mg-left-33px{margin-left: 33px !important;}
.mg-left-34px{margin-left: 34px !important;}
.mg-left-35px{margin-left: 35px !important;}
.mg-left-36px{margin-left: 36px !important;}
.mg-left-37px{margin-left: 37px !important;}
.mg-left-38px{margin-left: 38px !important;}
.mg-left-39px{margin-left: 39px !important;}
.mg-left-40px{margin-left: 40px !important;}
.mg-left-41px{margin-left: 41px !important;}
.mg-left-42px{margin-left: 42px !important;}
.mg-left-43px{margin-left: 43px !important;}
.mg-left-44px{margin-left: 44px !important;}
.mg-left-45px{margin-left: 45px !important;}
.mg-left-46px{margin-left: 46px !important;}
.mg-left-47px{margin-left: 47px !important;}
.mg-left-48px{margin-left: 48px !important;}
.mg-left-49px{margin-left: 49px !important;}
.mg-left-50px{margin-left: 50px !important;}

/* rem size */
.mg-1rem{margin: 1rem !important;}
.mg-2rem{margin: 2rem !important;}
.mg-3rem{margin: 3rem !important;}
.mg-4rem{margin: 4rem !important;}
.mg-5rem{margin: 5rem !important;}
.mg-6rem{margin: 6rem !important;}
.mg-7rem{margin: 7rem !important;}
.mg-8rem{margin: 8rem !important;}
.mg-9rem{margin: 9rem !important;}
.mg-10rem{margin: 10rem !important;}
.mg-11rem{margin: 11rem !important;}
.mg-12rem{margin: 12rem !important;}
.mg-13rem{margin: 13rem !important;}
.mg-14rem{margin: 14rem !important;}
.mg-15rem{margin: 15rem !important;}
.mg-16rem{margin: 16rem !important;}
.mg-17rem{margin: 17rem !important;}
.mg-18rem{margin: 18rem !important;}
.mg-19rem{margin: 19rem !important;}
.mg-20rem{margin: 20rem !important;}
.mg-21rem{margin: 21rem !important;}
.mg-22rem{margin: 22rem !important;}
.mg-23rem{margin: 23rem !important;}
.mg-24rem{margin: 24rem !important;}
.mg-25rem{margin: 25rem !important;}
.mg-26rem{margin: 26rem !important;}
.mg-27rem{margin: 27rem !important;}
.mg-28rem{margin: 28rem !important;}
.mg-29rem{margin: 29rem !important;}
.mg-30rem{margin: 30rem !important;}
.mg-31rem{margin: 31rem !important;}
.mg-32rem{margin: 32rem !important;}
.mg-33rem{margin: 33rem !important;}
.mg-34rem{margin: 34rem !important;}
.mg-35rem{margin: 35rem !important;}
.mg-36rem{margin: 36rem !important;}
.mg-37rem{margin: 37rem !important;}
.mg-38rem{margin: 38rem !important;}
.mg-39rem{margin: 39rem !important;}
.mg-40rem{margin: 40rem !important;}
.mg-41rem{margin: 41rem !important;}
.mg-42rem{margin: 42rem !important;}
.mg-43rem{margin: 43rem !important;}
.mg-44rem{margin: 44rem !important;}
.mg-45rem{margin: 45rem !important;}
.mg-46rem{margin: 46rem !important;}
.mg-47rem{margin: 47rem !important;}
.mg-48rem{margin: 48rem !important;}
.mg-49rem{margin: 49rem !important;}
.mg-50rem{margin: 50rem !important;}

.mg-top-1rem{margin-top: 1rem !important;}
.mg-top-2rem{margin-top: 2rem !important;}
.mg-top-3rem{margin-top: 3rem !important;}
.mg-top-4rem{margin-top: 4rem !important;}
.mg-top-5rem{margin-top: 5rem !important;}
.mg-top-6rem{margin-top: 6rem !important;}
.mg-top-7rem{margin-top: 7rem !important;}
.mg-top-8rem{margin-top: 8rem !important;}
.mg-top-9rem{margin-top: 9rem !important;}
.mg-top-10rem{margin-top: 10rem !important;}
.mg-top-11rem{margin-top: 11rem !important;}
.mg-top-12rem{margin-top: 12rem !important;}
.mg-top-13rem{margin-top: 13rem !important;}
.mg-top-14rem{margin-top: 14rem !important;}
.mg-top-15rem{margin-top: 15rem !important;}
.mg-top-16rem{margin-top: 16rem !important;}
.mg-top-17rem{margin-top: 17rem !important;}
.mg-top-18rem{margin-top: 18rem !important;}
.mg-top-19rem{margin-top: 19rem !important;}
.mg-top-20rem{margin-top: 20rem !important;}
.mg-top-21rem{margin-top: 21rem !important;}
.mg-top-22rem{margin-top: 22rem !important;}
.mg-top-23rem{margin-top: 23rem !important;}
.mg-top-24rem{margin-top: 24rem !important;}
.mg-top-25rem{margin-top: 25rem !important;}
.mg-top-26rem{margin-top: 26rem !important;}
.mg-top-27rem{margin-top: 27rem !important;}
.mg-top-28rem{margin-top: 28rem !important;}
.mg-top-29rem{margin-top: 29rem !important;}
.mg-top-30rem{margin-top: 30rem !important;}
.mg-top-31rem{margin-top: 31rem !important;}
.mg-top-32rem{margin-top: 32rem !important;}
.mg-top-33rem{margin-top: 33rem !important;}
.mg-top-34rem{margin-top: 34rem !important;}
.mg-top-35rem{margin-top: 35rem !important;}
.mg-top-36rem{margin-top: 36rem !important;}
.mg-top-37rem{margin-top: 37rem !important;}
.mg-top-38rem{margin-top: 38rem !important;}
.mg-top-39rem{margin-top: 39rem !important;}
.mg-top-40rem{margin-top: 40rem !important;}
.mg-top-41rem{margin-top: 41rem !important;}
.mg-top-42rem{margin-top: 42rem !important;}
.mg-top-43rem{margin-top: 43rem !important;}
.mg-top-44rem{margin-top: 44rem !important;}
.mg-top-45rem{margin-top: 45rem !important;}
.mg-top-46rem{margin-top: 46rem !important;}
.mg-top-47rem{margin-top: 47rem !important;}
.mg-top-48rem{margin-top: 48rem !important;}
.mg-top-49rem{margin-top: 49rem !important;}
.mg-top-50rem{margin-top: 50rem !important;}

.mg-bottom-1rem{margin-bottom: 1rem !important;}
.mg-bottom-2rem{margin-bottom: 2rem !important;}
.mg-bottom-3rem{margin-bottom: 3rem !important;}
.mg-bottom-4rem{margin-bottom: 4rem !important;}
.mg-bottom-5rem{margin-bottom: 5rem !important;}
.mg-bottom-6rem{margin-bottom: 6rem !important;}
.mg-bottom-7rem{margin-bottom: 7rem !important;}
.mg-bottom-8rem{margin-bottom: 8rem !important;}
.mg-bottom-9rem{margin-bottom: 9rem !important;}
.mg-bottom-10rem{margin-bottom: 10rem !important;}
.mg-bottom-11rem{margin-bottom: 11rem !important;}
.mg-bottom-12rem{margin-bottom: 12rem !important;}
.mg-bottom-13rem{margin-bottom: 13rem !important;}
.mg-bottom-14rem{margin-bottom: 14rem !important;}
.mg-bottom-15rem{margin-bottom: 15rem !important;}
.mg-bottom-16rem{margin-bottom: 16rem !important;}
.mg-bottom-17rem{margin-bottom: 17rem !important;}
.mg-bottom-18rem{margin-bottom: 18rem !important;}
.mg-bottom-19rem{margin-bottom: 19rem !important;}
.mg-bottom-20rem{margin-bottom: 20rem !important;}
.mg-bottom-21rem{margin-bottom: 21rem !important;}
.mg-bottom-22rem{margin-bottom: 22rem !important;}
.mg-bottom-23rem{margin-bottom: 23rem !important;}
.mg-bottom-24rem{margin-bottom: 24rem !important;}
.mg-bottom-25rem{margin-bottom: 25rem !important;}
.mg-bottom-26rem{margin-bottom: 26rem !important;}
.mg-bottom-27rem{margin-bottom: 27rem !important;}
.mg-bottom-28rem{margin-bottom: 28rem !important;}
.mg-bottom-29rem{margin-bottom: 29rem !important;}
.mg-bottom-30rem{margin-bottom: 30rem !important;}
.mg-bottom-31rem{margin-bottom: 31rem !important;}
.mg-bottom-32rem{margin-bottom: 32rem !important;}
.mg-bottom-33rem{margin-bottom: 33rem !important;}
.mg-bottom-34rem{margin-bottom: 34rem !important;}
.mg-bottom-35rem{margin-bottom: 35rem !important;}
.mg-bottom-36rem{margin-bottom: 36rem !important;}
.mg-bottom-37rem{margin-bottom: 37rem !important;}
.mg-bottom-38rem{margin-bottom: 38rem !important;}
.mg-bottom-39rem{margin-bottom: 39rem !important;}
.mg-bottom-40rem{margin-bottom: 40rem !important;}
.mg-bottom-41rem{margin-bottom: 41rem !important;}
.mg-bottom-42rem{margin-bottom: 42rem !important;}
.mg-bottom-43rem{margin-bottom: 43rem !important;}
.mg-bottom-44rem{margin-bottom: 44rem !important;}
.mg-bottom-45rem{margin-bottom: 45rem !important;}
.mg-bottom-46rem{margin-bottom: 46rem !important;}
.mg-bottom-47rem{margin-bottom: 47rem !important;}
.mg-bottom-48rem{margin-bottom: 48rem !important;}
.mg-bottom-49rem{margin-bottom: 49rem !important;}
.mg-bottom-50rem{margin-bottom: 50rem !important;}

.mg-right-1rem{margin-right: 1rem !important;}
.mg-right-2rem{margin-right: 2rem !important;}
.mg-right-3rem{margin-right: 3rem !important;}
.mg-right-4rem{margin-right: 4rem !important;}
.mg-right-5rem{margin-right: 5rem !important;}
.mg-right-6rem{margin-right: 6rem !important;}
.mg-right-7rem{margin-right: 7rem !important;}
.mg-right-8rem{margin-right: 8rem !important;}
.mg-right-9rem{margin-right: 9rem !important;}
.mg-right-10rem{margin-right: 10rem !important;}
.mg-right-11rem{margin-right: 11rem !important;}
.mg-right-12rem{margin-right: 12rem !important;}
.mg-right-13rem{margin-right: 13rem !important;}
.mg-right-14rem{margin-right: 14rem !important;}
.mg-right-15rem{margin-right: 15rem !important;}
.mg-right-16rem{margin-right: 16rem !important;}
.mg-right-17rem{margin-right: 17rem !important;}
.mg-right-18rem{margin-right: 18rem !important;}
.mg-right-19rem{margin-right: 19rem !important;}
.mg-right-20rem{margin-right: 20rem !important;}
.mg-right-21rem{margin-right: 21rem !important;}
.mg-right-22rem{margin-right: 22rem !important;}
.mg-right-23rem{margin-right: 23rem !important;}
.mg-right-24rem{margin-right: 24rem !important;}
.mg-right-25rem{margin-right: 25rem !important;}
.mg-right-26rem{margin-right: 26rem !important;}
.mg-right-27rem{margin-right: 27rem !important;}
.mg-right-28rem{margin-right: 28rem !important;}
.mg-right-29rem{margin-right: 29rem !important;}
.mg-right-30rem{margin-right: 30rem !important;}
.mg-right-31rem{margin-right: 31rem !important;}
.mg-right-32rem{margin-right: 32rem !important;}
.mg-right-33rem{margin-right: 33rem !important;}
.mg-right-34rem{margin-right: 34rem !important;}
.mg-right-35rem{margin-right: 35rem !important;}
.mg-right-36rem{margin-right: 36rem !important;}
.mg-right-37rem{margin-right: 37rem !important;}
.mg-right-38rem{margin-right: 38rem !important;}
.mg-right-39rem{margin-right: 39rem !important;}
.mg-right-40rem{margin-right: 40rem !important;}
.mg-right-41rem{margin-right: 41rem !important;}
.mg-right-42rem{margin-right: 42rem !important;}
.mg-right-43rem{margin-right: 43rem !important;}
.mg-right-44rem{margin-right: 44rem !important;}
.mg-right-45rem{margin-right: 45rem !important;}
.mg-right-46rem{margin-right: 46rem !important;}
.mg-right-47rem{margin-right: 47rem !important;}
.mg-right-48rem{margin-right: 48rem !important;}
.mg-right-49rem{margin-right: 49rem !important;}
.mg-right-50rem{margin-right: 50rem !important;}

.mg-left-1rem{margin-left: 1rem !important;}
.mg-left-2rem{margin-left: 2rem !important;}
.mg-left-3rem{margin-left: 3rem !important;}
.mg-left-4rem{margin-left: 4rem !important;}
.mg-left-5rem{margin-left: 5rem !important;}
.mg-left-6rem{margin-left: 6rem !important;}
.mg-left-7rem{margin-left: 7rem !important;}
.mg-left-8rem{margin-left: 8rem !important;}
.mg-left-9rem{margin-left: 9rem !important;}
.mg-left-10rem{margin-left: 10rem !important;}
.mg-left-11rem{margin-left: 11rem !important;}
.mg-left-12rem{margin-left: 12rem !important;}
.mg-left-13rem{margin-left: 13rem !important;}
.mg-left-14rem{margin-left: 14rem !important;}
.mg-left-15rem{margin-left: 15rem !important;}
.mg-left-16rem{margin-left: 16rem !important;}
.mg-left-17rem{margin-left: 17rem !important;}
.mg-left-18rem{margin-left: 18rem !important;}
.mg-left-19rem{margin-left: 19rem !important;}
.mg-left-20rem{margin-left: 20rem !important;}
.mg-left-21rem{margin-left: 21rem !important;}
.mg-left-22rem{margin-left: 22rem !important;}
.mg-left-23rem{margin-left: 23rem !important;}
.mg-left-24rem{margin-left: 24rem !important;}
.mg-left-25rem{margin-left: 25rem !important;}
.mg-left-26rem{margin-left: 26rem !important;}
.mg-left-27rem{margin-left: 27rem !important;}
.mg-left-28rem{margin-left: 28rem !important;}
.mg-left-29rem{margin-left: 29rem !important;}
.mg-left-30rem{margin-left: 30rem !important;}
.mg-left-31rem{margin-left: 31rem !important;}
.mg-left-32rem{margin-left: 32rem !important;}
.mg-left-33rem{margin-left: 33rem !important;}
.mg-left-34rem{margin-left: 34rem !important;}
.mg-left-35rem{margin-left: 35rem !important;}
.mg-left-36rem{margin-left: 36rem !important;}
.mg-left-37rem{margin-left: 37rem !important;}
.mg-left-38rem{margin-left: 38rem !important;}
.mg-left-39rem{margin-left: 39rem !important;}
.mg-left-40rem{margin-left: 40rem !important;}
.mg-left-41rem{margin-left: 41rem !important;}
.mg-left-42rem{margin-left: 42rem !important;}
.mg-left-43rem{margin-left: 43rem !important;}
.mg-left-44rem{margin-left: 44rem !important;}
.mg-left-45rem{margin-left: 45rem !important;}
.mg-left-46rem{margin-left: 46rem !important;}
.mg-left-47rem{margin-left: 47rem !important;}
.mg-left-48rem{margin-left: 48rem !important;}
.mg-left-49rem{margin-left: 49rem !important;}
.mg-left-50rem{margin-left: 50rem !important;}

/* em size */
.mg-1em{margin: 1em !important;}
.mg-2em{margin: 2em !important;}
.mg-3em{margin: 3em !important;}
.mg-4em{margin: 4em !important;}
.mg-5em{margin: 5em !important;}
.mg-6em{margin: 6em !important;}
.mg-7em{margin: 7em !important;}
.mg-8em{margin: 8em !important;}
.mg-9em{margin: 9em !important;}
.mg-10em{margin: 10em !important;}
.mg-11em{margin: 11em !important;}
.mg-12em{margin: 12em !important;}
.mg-13em{margin: 13em !important;}
.mg-14em{margin: 14em !important;}
.mg-15em{margin: 15em !important;}
.mg-16em{margin: 16em !important;}
.mg-17em{margin: 17em !important;}
.mg-18em{margin: 18em !important;}
.mg-19em{margin: 19em !important;}
.mg-20em{margin: 20em !important;}
.mg-21em{margin: 21em !important;}
.mg-22em{margin: 22em !important;}
.mg-23em{margin: 23em !important;}
.mg-24em{margin: 24em !important;}
.mg-25em{margin: 25em !important;}
.mg-26em{margin: 26em !important;}
.mg-27em{margin: 27em !important;}
.mg-28em{margin: 28em !important;}
.mg-29em{margin: 29em !important;}
.mg-30em{margin: 30em !important;}
.mg-31em{margin: 31em !important;}
.mg-32em{margin: 32em !important;}
.mg-33em{margin: 33em !important;}
.mg-34em{margin: 34em !important;}
.mg-35em{margin: 35em !important;}
.mg-36em{margin: 36em !important;}
.mg-37em{margin: 37em !important;}
.mg-38em{margin: 38em !important;}
.mg-39em{margin: 39em !important;}
.mg-40em{margin: 40em !important;}
.mg-41em{margin: 41em !important;}
.mg-42em{margin: 42em !important;}
.mg-43em{margin: 43em !important;}
.mg-44em{margin: 44em !important;}
.mg-45em{margin: 45em !important;}
.mg-46em{margin: 46em !important;}
.mg-47em{margin: 47em !important;}
.mg-48em{margin: 48em !important;}
.mg-49em{margin: 49em !important;}
.mg-50em{margin: 50em !important;}

.mg-top-1em{margin-top: 1em !important;}
.mg-top-2em{margin-top: 2em !important;}
.mg-top-3em{margin-top: 3em !important;}
.mg-top-4em{margin-top: 4em !important;}
.mg-top-5em{margin-top: 5em !important;}
.mg-top-6em{margin-top: 6em !important;}
.mg-top-7em{margin-top: 7em !important;}
.mg-top-8em{margin-top: 8em !important;}
.mg-top-9em{margin-top: 9em !important;}
.mg-top-10em{margin-top: 10em !important;}
.mg-top-11em{margin-top: 11em !important;}
.mg-top-12em{margin-top: 12em !important;}
.mg-top-13em{margin-top: 13em !important;}
.mg-top-14em{margin-top: 14em !important;}
.mg-top-15em{margin-top: 15em !important;}
.mg-top-16em{margin-top: 16em !important;}
.mg-top-17em{margin-top: 17em !important;}
.mg-top-18em{margin-top: 18em !important;}
.mg-top-19em{margin-top: 19em !important;}
.mg-top-20em{margin-top: 20em !important;}
.mg-top-21em{margin-top: 21em !important;}
.mg-top-22em{margin-top: 22em !important;}
.mg-top-23em{margin-top: 23em !important;}
.mg-top-24em{margin-top: 24em !important;}
.mg-top-25em{margin-top: 25em !important;}
.mg-top-26em{margin-top: 26em !important;}
.mg-top-27em{margin-top: 27em !important;}
.mg-top-28em{margin-top: 28em !important;}
.mg-top-29em{margin-top: 29em !important;}
.mg-top-30em{margin-top: 30em !important;}
.mg-top-31em{margin-top: 31em !important;}
.mg-top-32em{margin-top: 32em !important;}
.mg-top-33em{margin-top: 33em !important;}
.mg-top-34em{margin-top: 34em !important;}
.mg-top-35em{margin-top: 35em !important;}
.mg-top-36em{margin-top: 36em !important;}
.mg-top-37em{margin-top: 37em !important;}
.mg-top-38em{margin-top: 38em !important;}
.mg-top-39em{margin-top: 39em !important;}
.mg-top-40em{margin-top: 40em !important;}
.mg-top-41em{margin-top: 41em !important;}
.mg-top-42em{margin-top: 42em !important;}
.mg-top-43em{margin-top: 43em !important;}
.mg-top-44em{margin-top: 44em !important;}
.mg-top-45em{margin-top: 45em !important;}
.mg-top-46em{margin-top: 46em !important;}
.mg-top-47em{margin-top: 47em !important;}
.mg-top-48em{margin-top: 48em !important;}
.mg-top-49em{margin-top: 49em !important;}
.mg-top-50em{margin-top: 50em !important;}

.mg-bottom-1em{margin-bottom: 1em !important;}
.mg-bottom-2em{margin-bottom: 2em !important;}
.mg-bottom-3em{margin-bottom: 3em !important;}
.mg-bottom-4em{margin-bottom: 4em !important;}
.mg-bottom-5em{margin-bottom: 5em !important;}
.mg-bottom-6em{margin-bottom: 6em !important;}
.mg-bottom-7em{margin-bottom: 7em !important;}
.mg-bottom-8em{margin-bottom: 8em !important;}
.mg-bottom-9em{margin-bottom: 9em !important;}
.mg-bottom-10em{margin-bottom: 10em !important;}
.mg-bottom-11em{margin-bottom: 11em !important;}
.mg-bottom-12em{margin-bottom: 12em !important;}
.mg-bottom-13em{margin-bottom: 13em !important;}
.mg-bottom-14em{margin-bottom: 14em !important;}
.mg-bottom-15em{margin-bottom: 15em !important;}
.mg-bottom-16em{margin-bottom: 16em !important;}
.mg-bottom-17em{margin-bottom: 17em !important;}
.mg-bottom-18em{margin-bottom: 18em !important;}
.mg-bottom-19em{margin-bottom: 19em !important;}
.mg-bottom-20em{margin-bottom: 20em !important;}
.mg-bottom-21em{margin-bottom: 21em !important;}
.mg-bottom-22em{margin-bottom: 22em !important;}
.mg-bottom-23em{margin-bottom: 23em !important;}
.mg-bottom-24em{margin-bottom: 24em !important;}
.mg-bottom-25em{margin-bottom: 25em !important;}
.mg-bottom-26em{margin-bottom: 26em !important;}
.mg-bottom-27em{margin-bottom: 27em !important;}
.mg-bottom-28em{margin-bottom: 28em !important;}
.mg-bottom-29em{margin-bottom: 29em !important;}
.mg-bottom-30em{margin-bottom: 30em !important;}
.mg-bottom-31em{margin-bottom: 31em !important;}
.mg-bottom-32em{margin-bottom: 32em !important;}
.mg-bottom-33em{margin-bottom: 33em !important;}
.mg-bottom-34em{margin-bottom: 34em !important;}
.mg-bottom-35em{margin-bottom: 35em !important;}
.mg-bottom-36em{margin-bottom: 36em !important;}
.mg-bottom-37em{margin-bottom: 37em !important;}
.mg-bottom-38em{margin-bottom: 38em !important;}
.mg-bottom-39em{margin-bottom: 39em !important;}
.mg-bottom-40em{margin-bottom: 40em !important;}
.mg-bottom-41em{margin-bottom: 41em !important;}
.mg-bottom-42em{margin-bottom: 42em !important;}
.mg-bottom-43em{margin-bottom: 43em !important;}
.mg-bottom-44em{margin-bottom: 44em !important;}
.mg-bottom-45em{margin-bottom: 45em !important;}
.mg-bottom-46em{margin-bottom: 46em !important;}
.mg-bottom-47em{margin-bottom: 47em !important;}
.mg-bottom-48em{margin-bottom: 48em !important;}
.mg-bottom-49em{margin-bottom: 49em !important;}
.mg-bottom-50em{margin-bottom: 50em !important;}

.mg-right-1em{margin-right: 1em !important;}
.mg-right-2em{margin-right: 2em !important;}
.mg-right-3em{margin-right: 3em !important;}
.mg-right-4em{margin-right: 4em !important;}
.mg-right-5em{margin-right: 5em !important;}
.mg-right-6em{margin-right: 6em !important;}
.mg-right-7em{margin-right: 7em !important;}
.mg-right-8em{margin-right: 8em !important;}
.mg-right-9em{margin-right: 9em !important;}
.mg-right-10em{margin-right: 10em !important;}
.mg-right-11em{margin-right: 11em !important;}
.mg-right-12em{margin-right: 12em !important;}
.mg-right-13em{margin-right: 13em !important;}
.mg-right-14em{margin-right: 14em !important;}
.mg-right-15em{margin-right: 15em !important;}
.mg-right-16em{margin-right: 16em !important;}
.mg-right-17em{margin-right: 17em !important;}
.mg-right-18em{margin-right: 18em !important;}
.mg-right-19em{margin-right: 19em !important;}
.mg-right-20em{margin-right: 20em !important;}
.mg-right-21em{margin-right: 21em !important;}
.mg-right-22em{margin-right: 22em !important;}
.mg-right-23em{margin-right: 23em !important;}
.mg-right-24em{margin-right: 24em !important;}
.mg-right-25em{margin-right: 25em !important;}
.mg-right-26em{margin-right: 26em !important;}
.mg-right-27em{margin-right: 27em !important;}
.mg-right-28em{margin-right: 28em !important;}
.mg-right-29em{margin-right: 29em !important;}
.mg-right-30em{margin-right: 30em !important;}
.mg-right-31em{margin-right: 31em !important;}
.mg-right-32em{margin-right: 32em !important;}
.mg-right-33em{margin-right: 33em !important;}
.mg-right-34em{margin-right: 34em !important;}
.mg-right-35em{margin-right: 35em !important;}
.mg-right-36em{margin-right: 36em !important;}
.mg-right-37em{margin-right: 37em !important;}
.mg-right-38em{margin-right: 38em !important;}
.mg-right-39em{margin-right: 39em !important;}
.mg-right-40em{margin-right: 40em !important;}
.mg-right-41em{margin-right: 41em !important;}
.mg-right-42em{margin-right: 42em !important;}
.mg-right-43em{margin-right: 43em !important;}
.mg-right-44em{margin-right: 44em !important;}
.mg-right-45em{margin-right: 45em !important;}
.mg-right-46em{margin-right: 46em !important;}
.mg-right-47em{margin-right: 47em !important;}
.mg-right-48em{margin-right: 48em !important;}
.mg-right-49em{margin-right: 49em !important;}
.mg-right-50em{margin-right: 50em !important;}

.mg-left-1em{margin-left: 1em !important;}
.mg-left-2em{margin-left: 2em !important;}
.mg-left-3em{margin-left: 3em !important;}
.mg-left-4em{margin-left: 4em !important;}
.mg-left-5em{margin-left: 5em !important;}
.mg-left-6em{margin-left: 6em !important;}
.mg-left-7em{margin-left: 7em !important;}
.mg-left-8em{margin-left: 8em !important;}
.mg-left-9em{margin-left: 9em !important;}
.mg-left-10em{margin-left: 10em !important;}
.mg-left-11em{margin-left: 11em !important;}
.mg-left-12em{margin-left: 12em !important;}
.mg-left-13em{margin-left: 13em !important;}
.mg-left-14em{margin-left: 14em !important;}
.mg-left-15em{margin-left: 15em !important;}
.mg-left-16em{margin-left: 16em !important;}
.mg-left-17em{margin-left: 17em !important;}
.mg-left-18em{margin-left: 18em !important;}
.mg-left-19em{margin-left: 19em !important;}
.mg-left-20em{margin-left: 20em !important;}
.mg-left-21em{margin-left: 21em !important;}
.mg-left-22em{margin-left: 22em !important;}
.mg-left-23em{margin-left: 23em !important;}
.mg-left-24em{margin-left: 24em !important;}
.mg-left-25em{margin-left: 25em !important;}
.mg-left-26em{margin-left: 26em !important;}
.mg-left-27em{margin-left: 27em !important;}
.mg-left-28em{margin-left: 28em !important;}
.mg-left-29em{margin-left: 29em !important;}
.mg-left-30em{margin-left: 30em !important;}
.mg-left-31em{margin-left: 31em !important;}
.mg-left-32em{margin-left: 32em !important;}
.mg-left-33em{margin-left: 33em !important;}
.mg-left-34em{margin-left: 34em !important;}
.mg-left-35em{margin-left: 35em !important;}
.mg-left-36em{margin-left: 36em !important;}
.mg-left-37em{margin-left: 37em !important;}
.mg-left-38em{margin-left: 38em !important;}
.mg-left-39em{margin-left: 39em !important;}
.mg-left-40em{margin-left: 40em !important;}
.mg-left-41em{margin-left: 41em !important;}
.mg-left-42em{margin-left: 42em !important;}
.mg-left-43em{margin-left: 43em !important;}
.mg-left-44em{margin-left: 44em !important;}
.mg-left-45em{margin-left: 45em !important;}
.mg-left-46em{margin-left: 46em !important;}
.mg-left-47em{margin-left: 47em !important;}
.mg-left-48em{margin-left: 48em !important;}
.mg-left-49em{margin-left: 49em !important;}
.mg-left-50em{margin-left: 50em !important;}

/* % size */
.mg-1{margin: 1% !important;}
.mg-2{margin: 2% !important;}
.mg-3{margin: 3% !important;}
.mg-4{margin: 4% !important;}
.mg-5{margin: 5% !important;}
.mg-6{margin: 6% !important;}
.mg-7{margin: 7% !important;}
.mg-8{margin: 8% !important;}
.mg-9{margin: 9% !important;}
.mg-10{margin: 10% !important;}
.mg-11{margin: 11% !important;}
.mg-12{margin: 12% !important;}
.mg-13{margin: 13% !important;}
.mg-14{margin: 14% !important;}
.mg-15{margin: 15% !important;}
.mg-16{margin: 16% !important;}
.mg-17{margin: 17% !important;}
.mg-18{margin: 18% !important;}
.mg-19{margin: 19% !important;}
.mg-20{margin: 20% !important;}
.mg-21{margin: 21% !important;}
.mg-22{margin: 22% !important;}
.mg-23{margin: 23% !important;}
.mg-24{margin: 24% !important;}
.mg-25{margin: 25% !important;}
.mg-26{margin: 26% !important;}
.mg-27{margin: 27% !important;}
.mg-28{margin: 28% !important;}
.mg-29{margin: 29% !important;}
.mg-30{margin: 30% !important;}
.mg-31{margin: 31% !important;}
.mg-32{margin: 32% !important;}
.mg-33{margin: 33% !important;}
.mg-34{margin: 34% !important;}
.mg-35{margin: 35% !important;}
.mg-36{margin: 36% !important;}
.mg-37{margin: 37% !important;}
.mg-38{margin: 38% !important;}
.mg-39{margin: 39% !important;}
.mg-40{margin: 40% !important;}
.mg-41{margin: 41% !important;}
.mg-42{margin: 42% !important;}
.mg-43{margin: 43% !important;}
.mg-44{margin: 44% !important;}
.mg-45{margin: 45% !important;}
.mg-46{margin: 46% !important;}
.mg-47{margin: 47% !important;}
.mg-48{margin: 48% !important;}
.mg-49{margin: 49% !important;}
.mg-50{margin: 50% !important;}

.mg-top-1{margin-top: 1% !important;}
.mg-top-2{margin-top: 2% !important;}
.mg-top-3{margin-top: 3% !important;}
.mg-top-4{margin-top: 4% !important;}
.mg-top-5{margin-top: 5% !important;}
.mg-top-6{margin-top: 6% !important;}
.mg-top-7{margin-top: 7% !important;}
.mg-top-8{margin-top: 8% !important;}
.mg-top-9{margin-top: 9% !important;}
.mg-top-10{margin-top: 10% !important;}
.mg-top-11{margin-top: 11% !important;}
.mg-top-12{margin-top: 12% !important;}
.mg-top-13{margin-top: 13% !important;}
.mg-top-14{margin-top: 14% !important;}
.mg-top-15{margin-top: 15% !important;}
.mg-top-16{margin-top: 16% !important;}
.mg-top-17{margin-top: 17% !important;}
.mg-top-18{margin-top: 18% !important;}
.mg-top-19{margin-top: 19% !important;}
.mg-top-20{margin-top: 20% !important;}
.mg-top-21{margin-top: 21% !important;}
.mg-top-22{margin-top: 22% !important;}
.mg-top-23{margin-top: 23% !important;}
.mg-top-24{margin-top: 24% !important;}
.mg-top-25{margin-top: 25% !important;}
.mg-top-26{margin-top: 26% !important;}
.mg-top-27{margin-top: 27% !important;}
.mg-top-28{margin-top: 28% !important;}
.mg-top-29{margin-top: 29% !important;}
.mg-top-30{margin-top: 30% !important;}
.mg-top-31{margin-top: 31% !important;}
.mg-top-32{margin-top: 32% !important;}
.mg-top-33{margin-top: 33% !important;}
.mg-top-34{margin-top: 34% !important;}
.mg-top-35{margin-top: 35% !important;}
.mg-top-36{margin-top: 36% !important;}
.mg-top-37{margin-top: 37% !important;}
.mg-top-38{margin-top: 38% !important;}
.mg-top-39{margin-top: 39% !important;}
.mg-top-40{margin-top: 40% !important;}
.mg-top-41{margin-top: 41% !important;}
.mg-top-42{margin-top: 42% !important;}
.mg-top-43{margin-top: 43% !important;}
.mg-top-44{margin-top: 44% !important;}
.mg-top-45{margin-top: 45% !important;}
.mg-top-46{margin-top: 46% !important;}
.mg-top-47{margin-top: 47% !important;}
.mg-top-48{margin-top: 48% !important;}
.mg-top-49{margin-top: 49% !important;}
.mg-top-50{margin-top: 50% !important;}

.mg-bottom-1{margin-bottom: 1% !important;}
.mg-bottom-2{margin-bottom: 2% !important;}
.mg-bottom-3{margin-bottom: 3% !important;}
.mg-bottom-4{margin-bottom: 4% !important;}
.mg-bottom-5{margin-bottom: 5% !important;}
.mg-bottom-6{margin-bottom: 6% !important;}
.mg-bottom-7{margin-bottom: 7% !important;}
.mg-bottom-8{margin-bottom: 8% !important;}
.mg-bottom-9{margin-bottom: 9% !important;}
.mg-bottom-10{margin-bottom: 10% !important;}
.mg-bottom-11{margin-bottom: 11% !important;}
.mg-bottom-12{margin-bottom: 12% !important;}
.mg-bottom-13{margin-bottom: 13% !important;}
.mg-bottom-14{margin-bottom: 14% !important;}
.mg-bottom-15{margin-bottom: 15% !important;}
.mg-bottom-16{margin-bottom: 16% !important;}
.mg-bottom-17{margin-bottom: 17% !important;}
.mg-bottom-18{margin-bottom: 18% !important;}
.mg-bottom-19{margin-bottom: 19% !important;}
.mg-bottom-20{margin-bottom: 20% !important;}
.mg-bottom-21{margin-bottom: 21% !important;}
.mg-bottom-22{margin-bottom: 22% !important;}
.mg-bottom-23{margin-bottom: 23% !important;}
.mg-bottom-24{margin-bottom: 24% !important;}
.mg-bottom-25{margin-bottom: 25% !important;}
.mg-bottom-26{margin-bottom: 26% !important;}
.mg-bottom-27{margin-bottom: 27% !important;}
.mg-bottom-28{margin-bottom: 28% !important;}
.mg-bottom-29{margin-bottom: 29% !important;}
.mg-bottom-30{margin-bottom: 30% !important;}
.mg-bottom-31{margin-bottom: 31% !important;}
.mg-bottom-32{margin-bottom: 32% !important;}
.mg-bottom-33{margin-bottom: 33% !important;}
.mg-bottom-34{margin-bottom: 34% !important;}
.mg-bottom-35{margin-bottom: 35% !important;}
.mg-bottom-36{margin-bottom: 36% !important;}
.mg-bottom-37{margin-bottom: 37% !important;}
.mg-bottom-38{margin-bottom: 38% !important;}
.mg-bottom-39{margin-bottom: 39% !important;}
.mg-bottom-40{margin-bottom: 40% !important;}
.mg-bottom-41{margin-bottom: 41% !important;}
.mg-bottom-42{margin-bottom: 42% !important;}
.mg-bottom-43{margin-bottom: 43% !important;}
.mg-bottom-44{margin-bottom: 44% !important;}
.mg-bottom-45{margin-bottom: 45% !important;}
.mg-bottom-46{margin-bottom: 46% !important;}
.mg-bottom-47{margin-bottom: 47% !important;}
.mg-bottom-48{margin-bottom: 48% !important;}
.mg-bottom-49{margin-bottom: 49% !important;}
.mg-bottom-50{margin-bottom: 50% !important;}

.mg-right-1{margin-right: 1% !important;}
.mg-right-2{margin-right: 2% !important;}
.mg-right-3{margin-right: 3% !important;}
.mg-right-4{margin-right: 4% !important;}
.mg-right-5{margin-right: 5% !important;}
.mg-right-6{margin-right: 6% !important;}
.mg-right-7{margin-right: 7% !important;}
.mg-right-8{margin-right: 8% !important;}
.mg-right-9{margin-right: 9% !important;}
.mg-right-10{margin-right: 10% !important;}
.mg-right-11{margin-right: 11% !important;}
.mg-right-12{margin-right: 12% !important;}
.mg-right-13{margin-right: 13% !important;}
.mg-right-14{margin-right: 14% !important;}
.mg-right-15{margin-right: 15% !important;}
.mg-right-16{margin-right: 16% !important;}
.mg-right-17{margin-right: 17% !important;}
.mg-right-18{margin-right: 18% !important;}
.mg-right-19{margin-right: 19% !important;}
.mg-right-20{margin-right: 20% !important;}
.mg-right-21{margin-right: 21% !important;}
.mg-right-22{margin-right: 22% !important;}
.mg-right-23{margin-right: 23% !important;}
.mg-right-24{margin-right: 24% !important;}
.mg-right-25{margin-right: 25% !important;}
.mg-right-26{margin-right: 26% !important;}
.mg-right-27{margin-right: 27% !important;}
.mg-right-28{margin-right: 28% !important;}
.mg-right-29{margin-right: 29% !important;}
.mg-right-30{margin-right: 30% !important;}
.mg-right-31{margin-right: 31% !important;}
.mg-right-32{margin-right: 32% !important;}
.mg-right-33{margin-right: 33% !important;}
.mg-right-34{margin-right: 34% !important;}
.mg-right-35{margin-right: 35% !important;}
.mg-right-36{margin-right: 36% !important;}
.mg-right-37{margin-right: 37% !important;}
.mg-right-38{margin-right: 38% !important;}
.mg-right-39{margin-right: 39% !important;}
.mg-right-40{margin-right: 40% !important;}
.mg-right-41{margin-right: 41% !important;}
.mg-right-42{margin-right: 42% !important;}
.mg-right-43{margin-right: 43% !important;}
.mg-right-44{margin-right: 44% !important;}
.mg-right-45{margin-right: 45% !important;}
.mg-right-46{margin-right: 46% !important;}
.mg-right-47{margin-right: 47% !important;}
.mg-right-48{margin-right: 48% !important;}
.mg-right-49{margin-right: 49% !important;}
.mg-right-50{margin-right: 50% !important;}

.mg-left-1{margin-left: 1% !important;}
.mg-left-2{margin-left: 2% !important;}
.mg-left-3{margin-left: 3% !important;}
.mg-left-4{margin-left: 4% !important;}
.mg-left-5{margin-left: 5% !important;}
.mg-left-6{margin-left: 6% !important;}
.mg-left-7{margin-left: 7% !important;}
.mg-left-8{margin-left: 8% !important;}
.mg-left-9{margin-left: 9% !important;}
.mg-left-10{margin-left: 10% !important;}
.mg-left-11{margin-left: 11% !important;}
.mg-left-12{margin-left: 12% !important;}
.mg-left-13{margin-left: 13% !important;}
.mg-left-14{margin-left: 14% !important;}
.mg-left-15{margin-left: 15% !important;}
.mg-left-16{margin-left: 16% !important;}
.mg-left-17{margin-left: 17% !important;}
.mg-left-18{margin-left: 18% !important;}
.mg-left-19{margin-left: 19% !important;}
.mg-left-20{margin-left: 20% !important;}
.mg-left-21{margin-left: 21% !important;}
.mg-left-22{margin-left: 22% !important;}
.mg-left-23{margin-left: 23% !important;}
.mg-left-24{margin-left: 24% !important;}
.mg-left-25{margin-left: 25% !important;}
.mg-left-26{margin-left: 26% !important;}
.mg-left-27{margin-left: 27% !important;}
.mg-left-28{margin-left: 28% !important;}
.mg-left-29{margin-left: 29% !important;}
.mg-left-30{margin-left: 30% !important;}
.mg-left-31{margin-left: 31% !important;}
.mg-left-32{margin-left: 32% !important;}
.mg-left-33{margin-left: 33% !important;}
.mg-left-34{margin-left: 34% !important;}
.mg-left-35{margin-left: 35% !important;}
.mg-left-36{margin-left: 36% !important;}
.mg-left-37{margin-left: 37% !important;}
.mg-left-38{margin-left: 38% !important;}
.mg-left-39{margin-left: 39% !important;}
.mg-left-40{margin-left: 40% !important;}
.mg-left-41{margin-left: 41% !important;}
.mg-left-42{margin-left: 42% !important;}
.mg-left-43{margin-left: 43% !important;}
.mg-left-44{margin-left: 44% !important;}
.mg-left-45{margin-left: 45% !important;}
.mg-left-46{margin-left: 46% !important;}
.mg-left-47{margin-left: 47% !important;}
.mg-left-48{margin-left: 48% !important;}
.mg-left-49{margin-left: 49% !important;}
.mg-left-50{margin-left: 50% !important;}

/* padding  */
.pdd-0{padding: 0 !important;}
.pdd-1px{padding: 1px !important;}
.pdd-2px{padding: 2px !important;}
.pdd-3px{padding: 3px !important;}
.pdd-4px{padding: 4px !important;}
.pdd-5px{padding: 5px !important;}
.pdd-6px{padding: 6px !important;}
.pdd-7px{padding: 7px !important;}
.pdd-8px{padding: 8px !important;}
.pdd-9px{padding: 9px !important;}
.pdd-10px{padding: 10px !important;}
.pdd-11px{padding: 11px !important;}
.pdd-12px{padding: 12px !important;}
.pdd-13px{padding: 13px !important;}
.pdd-14px{padding: 14px !important;}
.pdd-15px{padding: 15px !important;}
.pdd-16px{padding: 16px !important;}
.pdd-17px{padding: 17px !important;}
.pdd-18px{padding: 18px !important;}
.pdd-19px{padding: 19px !important;}
.pdd-20px{padding: 20px !important;}
.pdd-21px{padding: 21px !important;}
.pdd-22px{padding: 22px !important;}
.pdd-23px{padding: 23px !important;}
.pdd-24px{padding: 24px !important;}
.pdd-25px{padding: 25px !important;}
.pdd-26px{padding: 26px !important;}
.pdd-27px{padding: 27px !important;}
.pdd-28px{padding: 28px !important;}
.pdd-29px{padding: 29px !important;}
.pdd-30px{padding: 30px !important;}
.pdd-35px{padding: 35px !important;}
.pdd-40px{padding: 40px !important;}
.pdd-45px{padding: 45px !important;}
.pdd-50px{padding: 50px !important;}
.pdd-55px{padding: 55px !important;}
.pdd-60px{padding: 60px !important;}
.pdd-65px{padding: 65px !important;}
.pdd-70px{padding: 70px !important;}
.pdd-75px{padding: 75px !important;}
.pdd-80px{padding: 80px !important;}
.pdd-85px{padding: 85px !important;}
.pdd-90px{padding: 90px !important;}
.pdd-95px{padding: 95px !important;}
.pdd-100px{padding: 100px !important;}

.pdd-right-0{padding-right: 0 !important;}
.pdd-right-1px{padding-right: 1px !important;}
.pdd-right-2px{padding-right: 2px !important;}
.pdd-right-3px{padding-right: 3px !important;}
.pdd-right-4px{padding-right: 4px !important;}
.pdd-right-5px{padding-right: 5px !important;}
.pdd-right-6px{padding-right: 6px !important;}
.pdd-right-7px{padding-right: 7px !important;}
.pdd-right-8px{padding-right: 8px !important;}
.pdd-right-9px{padding-right: 9px !important;}
.pdd-right-10px{padding-right: 10px !important;}
.pdd-right-11px{padding-right: 11px !important;}
.pdd-right-12px{padding-right: 12px !important;}
.pdd-right-13px{padding-right: 13px !important;}
.pdd-right-14px{padding-right: 14px !important;}
.pdd-right-15px{padding-right: 15px !important;}
.pdd-right-16px{padding-right: 16px !important;}
.pdd-right-17px{padding-right: 17px !important;}
.pdd-right-18px{padding-right: 18px !important;}
.pdd-right-19px{padding-right: 19px !important;}
.pdd-right-20px{padding-right: 20px !important;}
.pdd-right-21px{padding-right: 21px !important;}
.pdd-right-22px{padding-right: 22px !important;}
.pdd-right-23px{padding-right: 23px !important;}
.pdd-right-24px{padding-right: 24px !important;}
.pdd-right-25px{padding-right: 25px !important;}
.pdd-right-26px{padding-right: 26px !important;}
.pdd-right-27px{padding-right: 27px !important;}
.pdd-right-28px{padding-right: 28px !important;}
.pdd-right-29px{padding-right: 29px !important;}
.pdd-right-30px{padding-right: 30px !important;}
.pdd-right-35px{padding-right: 35px !important;}
.pdd-right-40px{padding-right: 40px !important;}
.pdd-right-45px{padding-right: 45px !important;}
.pdd-right-50px{padding-right: 50px !important;}
.pdd-right-55px{padding-right: 55px !important;}
.pdd-right-60px{padding-right: 60px !important;}
.pdd-right-65px{padding-right: 65px !important;}
.pdd-right-70px{padding-right: 70px !important;}
.pdd-right-75px{padding-right: 75px !important;}
.pdd-right-80px{padding-right: 80px !important;}
.pdd-right-85px{padding-right: 85px !important;}
.pdd-right-90px{padding-right: 90px !important;}
.pdd-right-95px{padding-right: 95px !important;}
.pdd-right-100px{padding-right: 100px !important;}

.pdd-left-0{padding-left: 0 !important;}
.pdd-left-1px{padding-left: 1px !important;}
.pdd-left-2px{padding-left: 2px !important;}
.pdd-left-3px{padding-left: 3px !important;}
.pdd-left-4px{padding-left: 4px !important;}
.pdd-left-5px{padding-left: 5px !important;}
.pdd-left-6px{padding-left: 6px !important;}
.pdd-left-7px{padding-left: 7px !important;}
.pdd-left-8px{padding-left: 8px !important;}
.pdd-left-9px{padding-left: 9px !important;}
.pdd-left-10px{padding-left: 10px !important;}
.pdd-left-11px{padding-left: 11px !important;}
.pdd-left-12px{padding-left: 12px !important;}
.pdd-left-13px{padding-left: 13px !important;}
.pdd-left-14px{padding-left: 14px !important;}
.pdd-left-15px{padding-left: 15px !important;}
.pdd-left-16px{padding-left: 16px !important;}
.pdd-left-17px{padding-left: 17px !important;}
.pdd-left-18px{padding-left: 18px !important;}
.pdd-left-19px{padding-left: 19px !important;}
.pdd-left-20px{padding-left: 20px !important;}
@media only screen and (max-width:414px){
    .pdd-left-20px{
        padding: 0 !important;
    }
}
.pdd-left-21px{padding-left: 21px !important;}
.pdd-left-22px{padding-left: 22px !important;}
.pdd-left-23px{padding-left: 23px !important;}
.pdd-left-24px{padding-left: 24px !important;}
.pdd-left-25px{padding-left: 25px !important;}
.pdd-left-26px{padding-left: 26px !important;}
.pdd-left-27px{padding-left: 27px !important;}
.pdd-left-28px{padding-left: 28px !important;}
.pdd-left-29px{padding-left: 29px !important;}
.pdd-left-30px{padding-left: 30px !important;}
.pdd-left-35px{padding-left: 35px !important;}
.pdd-left-40px{padding-left: 40px !important;}
.pdd-left-45px{padding-left: 45px !important;}
.pdd-left-50px{padding-left: 50px !important;}
.pdd-left-55px{padding-left: 55px !important;}
.pdd-left-60px{padding-left: 60px !important;}
.pdd-left-65px{padding-left: 65px !important;}
.pdd-left-70px{padding-left: 70px !important;}
.pdd-left-75px{padding-left: 75px !important;}
.pdd-left-80px{padding-left: 80px !important;}
.pdd-left-85px{padding-left: 85px !important;}
.pdd-left-90px{padding-left: 90px !important;}
.pdd-left-95px{padding-left: 95px !important;}
.pdd-left-100px{padding-left: 100px !important;}

.pdd-bottom-0{padding-bottom: 0 !important;}
.pdd-bottom-1px{padding-bottom: 1px !important;}
.pdd-bottom-2px{padding-bottom: 2px !important;}
.pdd-bottom-3px{padding-bottom: 3px !important;}
.pdd-bottom-4px{padding-bottom: 4px !important;}
.pdd-bottom-5px{padding-bottom: 5px !important;}
.pdd-bottom-6px{padding-bottom: 6px !important;}
.pdd-bottom-7px{padding-bottom: 7px !important;}
.pdd-bottom-8px{padding-bottom: 8px !important;}
.pdd-bottom-9px{padding-bottom: 9px !important;}
.pdd-bottom-10px{padding-bottom: 10px !important;}
.pdd-bottom-11px{padding-bottom: 11px !important;}
.pdd-bottom-12px{padding-bottom: 12px !important;}
.pdd-bottom-13px{padding-bottom: 13px !important;}
.pdd-bottom-14px{padding-bottom: 14px !important;}
.pdd-bottom-15px{padding-bottom: 15px !important;}
.pdd-bottom-16px{padding-bottom: 16px !important;}
.pdd-bottom-17px{padding-bottom: 17px !important;}
.pdd-bottom-18px{padding-bottom: 18px !important;}
.pdd-bottom-19px{padding-bottom: 19px !important;}
.pdd-bottom-20px{padding-bottom: 20px !important;}
.pdd-bottom-21px{padding-bottom: 21px !important;}
.pdd-bottom-22px{padding-bottom: 22px !important;}
.pdd-bottom-23px{padding-bottom: 23px !important;}
.pdd-bottom-24px{padding-bottom: 24px !important;}
.pdd-bottom-25px{padding-bottom: 25px !important;}
.pdd-bottom-26px{padding-bottom: 26px !important;}
.pdd-bottom-27px{padding-bottom: 27px !important;}
.pdd-bottom-28px{padding-bottom: 28px !important;}
.pdd-bottom-29px{padding-bottom: 29px !important;}
.pdd-bottom-30px{padding-bottom: 30px !important;}
.pdd-bottom-35px{padding-bottom: 35px !important;}
.pdd-bottom-40px{padding-bottom: 40px !important;}
.pdd-bottom-45px{padding-bottom: 45px !important;}
.pdd-bottom-50px{padding-bottom: 50px !important;}
.pdd-bottom-55px{padding-bottom: 55px !important;}
.pdd-bottom-60px{padding-bottom: 60px !important;}
.pdd-bottom-65px{padding-bottom: 65px !important;}
.pdd-bottom-70px{padding-bottom: 70px !important;}
.pdd-bottom-75px{padding-bottom: 75px !important;}
.pdd-bottom-80px{padding-bottom: 80px !important;}
.pdd-bottom-85px{padding-bottom: 85px !important;}
.pdd-bottom-90px{padding-bottom: 90px !important;}
.pdd-bottom-95px{padding-bottom: 95px !important;}
.pdd-bottom-100px{padding-bottom: 100px !important;}

.pdd-top-0{padding-top: 0 !important;}
.pdd-top-1px{padding-top: 1px !important;}
.pdd-top-2px{padding-top: 2px !important;}
.pdd-top-3px{padding-top: 3px !important;}
.pdd-top-4px{padding-top: 4px !important;}
.pdd-top-5px{padding-top: 5px !important;}
.pdd-top-6px{padding-top: 6px !important;}
.pdd-top-7px{padding-top: 7px !important;}
.pdd-top-8px{padding-top: 8px !important;}
.pdd-top-9px{padding-top: 9px !important;}
.pdd-top-10px{padding-top: 10px !important;}
.pdd-top-11px{padding-top: 11px !important;}
.pdd-top-12px{padding-top: 12px !important;}
.pdd-top-13px{padding-top: 13px !important;}
.pdd-top-14px{padding-top: 14px !important;}
.pdd-top-15px{padding-top: 15px !important;}
.pdd-top-16px{padding-top: 16px !important;}
.pdd-top-17px{padding-top: 17px !important;}
.pdd-top-18px{padding-top: 18px !important;}
.pdd-top-19px{padding-top: 19px !important;}
.pdd-top-20px{padding-top: 20px !important;}
.pdd-top-21px{padding-top: 21px !important;}
.pdd-top-22px{padding-top: 22px !important;}
.pdd-top-23px{padding-top: 23px !important;}
.pdd-top-24px{padding-top: 24px !important;}
.pdd-top-25px{padding-top: 25px !important;}
.pdd-top-26px{padding-top: 26px !important;}
.pdd-top-27px{padding-top: 27px !important;}
.pdd-top-28px{padding-top: 28px !important;}
.pdd-top-29px{padding-top: 29px !important;}
.pdd-top-30px{padding-top: 30px !important;}
.pdd-top-35px{padding-top: 35px !important;}
.pdd-top-40px{padding-top: 40px !important;}
.pdd-top-45px{padding-top: 45px !important;}
.pdd-top-50px{padding-top: 50px !important;}
.pdd-top-55px{padding-top: 55px !important;}
.pdd-top-60px{padding-top: 60px !important;}
.pdd-top-65px{padding-top: 65px !important;}
.pdd-top-70px{padding-top: 70px !important;}
.pdd-top-75px{padding-top: 75px !important;}
.pdd-top-80px{padding-top: 80px !important;}
.pdd-top-85px{padding-top: 85px !important;}
.pdd-top-90px{padding-top: 90px !important;}
.pdd-top-95px{padding-top: 95px !important;}
.pdd-top-100px{padding-top: 100px !important;}


/* padding em size */
.pdd-1em{padding: 1em !important;}
.pdd-2em{padding: 2em !important;}
.pdd-3em{padding: 3em !important;}
.pdd-4em{padding: 4em !important;}
.pdd-5em{padding: 5em !important;}
.pdd-6em{padding: 6em !important;}
.pdd-7em{padding: 7em !important;}
.pdd-8em{padding: 8em !important;}
.pdd-9em{padding: 9em !important;}
.pdd-10em{padding: 10em !important;}
.pdd-11em{padding: 11em !important;}
.pdd-12em{padding: 12em !important;}
.pdd-13em{padding: 13em !important;}
.pdd-14em{padding: 14em !important;}
.pdd-15em{padding: 15em !important;}
.pdd-16em{padding: 16em !important;}
.pdd-17em{padding: 17em !important;}
.pdd-18em{padding: 18em !important;}
.pdd-19em{padding: 19em !important;}
.pdd-20em{padding: 20em !important;}
.pdd-21em{padding: 21em !important;}
.pdd-22em{padding: 22em !important;}
.pdd-23em{padding: 23em !important;}
.pdd-24em{padding: 24em !important;}
.pdd-25em{padding: 25em !important;}
.pdd-26em{padding: 26em !important;}
.pdd-27em{padding: 27em !important;}
.pdd-28em{padding: 28em !important;}
.pdd-29em{padding: 29em !important;}
.pdd-30em{padding: 30em !important;}
.pdd-35em{padding: 35em !important;}
.pdd-40em{padding: 40em !important;}
.pdd-45em{padding: 45em !important;}
.pdd-50em{padding: 50em !important;}
.pdd-55em{padding: 55em !important;}
.pdd-60em{padding: 60em !important;}
.pdd-65em{padding: 65em !important;}
.pdd-70em{padding: 70em !important;}
.pdd-75em{padding: 75em !important;}
.pdd-80em{padding: 80em !important;}
.pdd-85em{padding: 85em !important;}
.pdd-90em{padding: 90em !important;}
.pdd-95em{padding: 95em !important;}
.pdd-100em{padding: 100em!important;}


/* padding rem size */
.pdd-1rem{padding: 1rem !important;}
.pdd-2rem{padding: 2rem !important;}
.pdd-3rem{padding: 3rem !important;}
.pdd-4rem{padding: 4rem !important;}
.pdd-5rem{padding: 5rem !important;}
.pdd-6rem{padding: 6rem !important;}
.pdd-7rem{padding: 7rem !important;}
.pdd-8rem{padding: 8rem !important;}
.pdd-9rem{padding: 9rem !important;}
.pdd-10rem{padding: 10rem !important;}
.pdd-11rem{padding: 11rem !important;}
.pdd-12rem{padding: 12rem !important;}
.pdd-13rem{padding: 13rem !important;}
.pdd-14rem{padding: 14rem !important;}
.pdd-15rem{padding: 15rem !important;}
.pdd-16rem{padding: 16rem !important;}
.pdd-17rem{padding: 17rem !important;}
.pdd-18rem{padding: 18rem !important;}
.pdd-19rem{padding: 19rem !important;}
.pdd-20rem{padding: 20rem !important;}
.pdd-21rem{padding: 21rem !important;}
.pdd-22rem{padding: 22rem !important;}
.pdd-23rem{padding: 23rem !important;}
.pdd-24rem{padding: 24rem !important;}
.pdd-25rem{padding: 25rem !important;}
.pdd-26rem{padding: 26rem !important;}
.pdd-27rem{padding: 27rem !important;}
.pdd-28rem{padding: 28rem !important;}
.pdd-29rem{padding: 29rem !important;}
.pdd-30rem{padding: 30rem !important;}
.pdd-35rem{padding: 35rem !important;}
.pdd-40rem{padding: 40rem !important;}
.pdd-45rem{padding: 45rem !important;}
.pdd-50rem{padding: 50rem !important;}
.pdd-55rem{padding: 55rem !important;}
.pdd-60rem{padding: 60rem !important;}
.pdd-65rem{padding: 65rem !important;}
.pdd-70rem{padding: 70rem !important;}
.pdd-75rem{padding: 75rem !important;}
.pdd-80rem{padding: 80rem !important;}
.pdd-85rem{padding: 85rem !important;}
.pdd-90rem{padding: 90rem !important;}
.pdd-95rem{padding: 95rem !important;}
.pdd-100rem{padding: 100rem!important;}


/* padding ex size */
.pdd-1ex{padding: 1ex !important;}
.pdd-2ex{padding: 2ex !important;}
.pdd-3ex{padding: 3ex !important;}
.pdd-4ex{padding: 4ex !important;}
.pdd-5ex{padding: 5ex !important;}
.pdd-6ex{padding: 6ex !important;}
.pdd-7ex{padding: 7ex !important;}
.pdd-8ex{padding: 8ex !important;}
.pdd-9ex{padding: 9ex !important;}
.pdd-10ex{padding: 10ex !important;}
.pdd-11ex{padding: 11ex !important;}
.pdd-12ex{padding: 12ex !important;}
.pdd-13ex{padding: 13ex !important;}
.pdd-14ex{padding: 14ex !important;}
.pdd-15ex{padding: 15ex !important;}
.pdd-16ex{padding: 16ex !important;}
.pdd-17ex{padding: 17ex !important;}
.pdd-18ex{padding: 18ex !important;}
.pdd-19ex{padding: 19ex !important;}
.pdd-20ex{padding: 20ex !important;}
.pdd-21ex{padding: 21ex !important;}
.pdd-22ex{padding: 22ex !important;}
.pdd-23ex{padding: 23ex !important;}
.pdd-24ex{padding: 24ex !important;}
.pdd-25ex{padding: 25ex !important;}
.pdd-26ex{padding: 26ex !important;}
.pdd-27ex{padding: 27ex !important;}
.pdd-28ex{padding: 28ex !important;}
.pdd-29ex{padding: 29ex !important;}
.pdd-30ex{padding: 30ex !important;}
.pdd-35ex{padding: 35ex !important;}
.pdd-40ex{padding: 40ex !important;}
.pdd-45ex{padding: 45ex !important;}
.pdd-50ex{padding: 50ex !important;}
.pdd-55ex{padding: 55ex !important;}
.pdd-60ex{padding: 60ex !important;}
.pdd-65ex{padding: 65ex !important;}
.pdd-70ex{padding: 70ex !important;}
.pdd-75ex{padding: 75ex !important;}
.pdd-80ex{padding: 80ex !important;}
.pdd-85ex{padding: 85ex !important;}
.pdd-90ex{padding: 90ex !important;}
.pdd-95ex{padding: 95ex !important;}
.pdd-100ex{padding: 100ex!important;}

