html,body {
    display: block;
}
body{
    font-family: khmer OS Content;
}
.my-card{
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 20px -10px #000;
    border-radius: 5px;
}
.card-slide-title{
    width: 100%;
    font-family: 'Moulpali', cursive;
    font-size: 20px;
}
.share-icon{
    color: #ffffff;
    background-color: #e06513;
    font-size: 15px;
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 2px;
    border: 5px solid #e06513;
    transition: all .5s;
}
.share-icon:hover{
    transform: translateY(-5px);
    box-shadow: 0px 2px 7px -2px #000;
}
.enfont{
    font-family: Arial, Helvetica, sans-serif !important;
    font-weight: bold;
}
.font-30px-bold{
    font-size: 30px;
    font-weight: bold;
}
.font-20px-bold{
    font-size: 20px;
    font-weight: bold;
}
.font-10px-bold{
    font-size: 10px;
    font-weight: bold;
}
.font-5px-bold{
    font-size: 5px;
    font-weight: bold;
}
.font-15px-bold{
    font-size: 15px;
    font-weight: bold;
}
.font-18px-bold{
    font-size: 18px !important;
    font-weight: bold; 
}
.font-20px-bold{
    font-size: 20px !important;
    font-weight: bold;
}
.font-25px-bold{
    font-size: 25px !important;
    font-weight: bold;
}
.font-30px-bold{
    font-size: 30px !important;
    font-weight: bold;
}
.card-title{
    font-family: khmer OS Content;
    font-size: 1rem;
    text-align: center;
}
.text-border-none{
    text-decoration: none;
}
.text-border-none:hover{
    text-decoration: none;
}
.hidden-991px{
    display: block;
}
@media only screen and (max-width:991px){
    .hidden-991px{
        display: none;
    }
    .screen991-textcenter{
        text-align: center;
    }
}
@media only screen and (max-width:415px){
    .font-30px-bold{
        font-size: 15px !important;
    }
    .font-25px-bold{
        font-size: 15px !important;
    }
    .header-area{
        height: 6.3rem;
    }
    .cp{
        font-size: 1.2rem;
    }
    .cp>.up-animation-5px{
        font-size: 1.3rem;
    }
    .screen414-pdd-0{
        padding: 0 !important;
    }
    .screen414-pdd-left-0{
        padding-left: 0 !important;
    }
    .screen414-pdd-5{
        padding: 5px !important;
    }
    .screen414-width-45{
        width: 25px !important;
        background: none;
    } 
    .screen414-width-45:hover::after{
        width: 25px !important;
        background: none;
    } 
    .raduis-50::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background-color: none;
        border-radius: 0;
        opacity: 0;
        /* -webkit-transform: scaleX(0.8);
        -ms-transform: scaleX(0.8); */
        -webkit-transform: none;
        -ms-transform: none;
        transform:none;
        transition: none;
        z-index: -1;
    }
    .screen414-width-19{
        width: 19% !important;
        font-size: 10px !important;
    }
    .screen414-font-10{
        font-size: 10px !important;
    }
    .raduis-50:hover{
        transform: translateY(-10%) !important;
        background-color: none;
    }
    .height-135{
        height: 190px !important;
        border-radius: 2px !important;
        text-align: center !important;
    }
    .header-area{
        height: 6.8rem !important;
    }


}
.bold{
    font-weight: bold;
}
.cp>.up-animation-5px{
    transition: all .5s;
}
.cp>.up-animation-5px:hover{
    transform: translateY(-15px) !important;
    color: #ffffff !important;
    border-left: 2px solid #ffffff;
    padding-left: 10px;
}
.width-100{
    width: 100%;
}
.border-raduis-0{
    border-radius: 0;
}
.border-raduis-0:hover::after{
    border-radius: 0 !important;
}
.cursor-default{
    cursor: default;
}
.post-body .msl:before {
    content: "\0a00";
}
.mytitle{
    font-family: 'Moul',cursive;
}
.mytxt{
    font-family: khmer OS Content;
}

.msl {
    font-family: khmer OS Content;
    list-style-position: inside !important;
    list-style: none !important;   
    text-indent: 20px;
}
.widget .post-body li {
    margin: 5px 0;
    padding: 0;
    line-height: 2;
}
.msl::section{
    color: brown;
}
.text-indent-2rem{
    text-indent: 2rem;
}
.white-text{
    color: #fff !important;
}
.width-45{
    width:30px;
    height:30px;
}
.raduis-50{
    border-radius: 4px;
    transition: all .5s;
}
.raduis-50:hover{
    border-radius: 4px;
    transform: rotate(360deg);
}
.raduis-50::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #008cff;
    border-radius: 4px;
    opacity: 0;
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
    /* -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: rotate(20px); */
    /* -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px); */
    transition: all 0.3s ease-in;
    z-index: -1;
  }

.font-18px{
    font-size: 18px;
}
.font-15px{
    font-size: 15px;
}

.max-width-500{
    width: 100%;
    max-width: 500px;
}
.height-135{
    height: 135px;
    border-radius: 2% !important;
    text-align: center !important;
}
.rounded-5px{
    border-radius: 1%;
    padding: 5px;
}
.top-75px{
    padding-top: 75px;
}
.color-red{
    color: red !important;
}

.color-white{
    color: #fff !important;
}