.enfont{
    font-family: Roboto,sans-serif;
}

@media only screen and (max-width:4000px){
    ul li,.ol li,ul li a {
        width: 100%;
    }
    .max-700px{
        max-width: 700px;
    }
    .collection .collection-item{
        padding: 0;
        background: linear-gradient(0.25turn, #ff7b00, #ffa46f);
    }
    .collection-item,.collection .collection-item a{
        padding: 5px;
        transition: all .2s;
        color: #fff !important;
        text-indent: 15px;
    }
    .collection-item:focus{
        background: linear-gradient(0.25turn, #fff068, #ff6363);
        /* color: #000 !important; */
    }



}


@media only screen and (max-width:700px){

    .container{
        width: 100%;
        padding: 0;
        margin: 0;
        /* background: linear-gradient(0.25turn, #ff7b00, #ffa46f); */
    }
    .circle{
        border: 2px solid #ff7b00;
    }
    .col, .s12, .m12, .l12, .xl4, .card, .max-700px{
        /* background: linear-gradient(0.25turn, #ff7b00, #ffa46f); */
    }
    .card {
        position: relative;
        margin: 0;
        padding: 10px;
        -webkit-box-shadow: 0 0 0 0 #000000,
                            0 0 0 0 #000000,
                            0 0 0 0 #000000;
                box-shadow: 0 0 0 0 #000000,
                            0 0 0 0 #000000,
                            0 0 0 0 #000000;
    }
    .max-700px{
        padding: 0;
    }
    .sidenav{
        z-index: 999999;
    }
    .col,.s1,.s2,.s3,.s4,.s5,.s6,.s7,.s8,.s9,.s10,.s11,.s12,
    .m1,.m2,.m3,.m4,.m5,.m6,.m7,.m8,.m9,.m10,.m11,.m12,
    .l1,.l2,.l3,.l4,.l5,.l6,.l7,.l8,.l9,.l10,.l11,.l12,
    .xl1,.xl2,.xl3,.xl4,.xl5,.xl6,.xl7,.xl8,.xl9,.xl10,.xl11,.xl12{
        padding: 0;
        margin: 0;
    }
    .row .col{
        padding: 0 !important;
    }
    .collection .collection-item{
        padding: 0;
        background: linear-gradient(0.25turn, #ff7b00, #ffa46f);
    }
    .collection-item,.collection .collection-item a{
        padding: 5px;
        transition: all .2s;
        color: #fff !important;
        text-indent: 15px;
    }
    .collection-item:focus{
        /* background: linear-gradient(0.25turn, #ffffff, #ffffff); */
        color: #fff !important;
    }




}

