body {
  font-family: khmer OS Content;
}

#audio {
  width: 100%;
  margin: 0 0 10px 0;
  background: #f1f3f4;
  outline: none !important;
  border-radius:0 0 5px 5px;
  /* border: 1px solid #ffdebd; */
  /* filter: drop-shadow(0px 7px 2px #331); */
  transition: .2s;
}

audio::-webkit-media-controls-panel {
  /* background-color: rgb(224, 100, 28); */
  border-radius: 4px !important;
}


audio:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 4px 4px #333);
  border-bottom-left-radius: 0;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #ff8d00;
  border-color: #ff8d18;
}
.list-group-item{
  padding: 5px;
}
.pdd-0{
    padding: 0rem 0 0 0;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color: #ff8d00 !important;
    border-color: #ff8d18;
}
.pagination>li>a, .pagination>li>span{
    color: #ff8d18;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover{
    color: #b36415;
}




.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color:#ff8d18  ;
    /* padding: 5px; */
    font-size: 15px;
    border-radius: 3px;
    /* border: 1px solid #ffdebd; */
    z-index: 99;
}
.navbar-brands{
    height: 0 ;
    padding: 7px ;
    font-size: 18px ;

}
.navbar{
    margin-bottom: 15px;
}
a{
    color:#000000 ;
}
.list-group-item{
  border-color: #ffdebd ;
}

@media only screen and (max-width:400px){
    audio::-webkit-media-controls-mute-button{

    }
    audio::-webkit-media-controls-play-button{

    }
    audio::-webkit-media-controls-timeline-container{

    }   
    audio::-webkit-media-controls-current-time-display{

    }
    audio::-webkit-media-controls-time-remaining-display{
        display: none;
    }
    audio::-webkit-media-controls-timeline{

    }
    audio::-webkit-media-controls-volume-slider-container{

    }
    audio::-webkit-media-controls-volume-slider{


    }
    audio::-webkit-media-controls-seek-back-button{

    }
    audio::-webkit-media-controls-seek-forward-button{

    }
    audio::-webkit-media-controls-fullscreen-button{

    }
    audio::-webkit-media-controls-rewind-button{

    }
    audio::-webkit-media-controls-return-to-realtime-button{

    }
    audio::-webkit-media-controls-toggle-closed-captions-button{
        
    }
}

ol li a,.ul li a{
  width: 100%;
  color: #000;
}