.main {
  width: 84%;
  transition: all .2s;
  float: right;
}

.left-menu {
  width: 16%;
  transition: all .2s;
}

.slide-menu {
  transform: translateX(-20%);
  transition: all .2s;
}

@media only screen and (max-width:1200px) {
  .main {
    width: 80%;
    transition: all .2s;
    float: right;
  }

  .left-menu {
    width: 20%;
    transition: all .2s;
  }
}

@media only screen and (max-width:992px) {
  .main {
    transition: .2s;
    width: 100% !important;
  }
  .left-menu {
    width: 40%;
    transition: all .2s;
  }
}
@media only screen and (max-width:400px) {

  .left-menu {
    width: 250px;
    transition: all .2s;
  }
}